* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #555;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  gap: 40px;
  color: white;
}

.clock .am_pm {
  margin-left: 550px;
}

.clock .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock .circle .hours,
.clock .circle .minutes,
.clock .circle .seconds {
  font-weight: 500;
  font-size: 1.5em;
}

.clock .circle .hours span,
.clock .circle .minutes span,
.clock .circle .seconds span {
  font-size: 16px;
  color: rgb(42, 42, 42);
}

.clock div {
  position: absolute;
  text-align: center;
}

.clock svg {
  position: relative;
  fill: transparent;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.clock svg circle {
  width: 100%;
  height: 100%;
  stroke-width: 5px;
  stroke: black;
  transform: translate(5px, 5px);
}

.clock svg circle:nth-child(2) {
  stroke: var(--clr);
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
}

.clock .circle .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.clock .circle .dots::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr), 0 0 20px var(--clr);
}
